In [1]:
import sys

# Add a path to sys.path
sys.path.append('../datasets')
from data_structure import data_strcture
#_, user_df, pool_df = data_strcture()

In [2]:
from model import clf, clf_Airbnb
import pandas as pd
import numpy as np

/home/yousif/Desktop/All/IE_Third_Year_2/RS/Project_All/Tourism-Recommendation-System/lib/models/../datasets/Flights.py:12: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['bags_price'] = grouped_bag['bags_price'].apply(lambda x: x.fillna(x.dropna().iloc[0]) if x.isnull().values.any() else x)
/home/yousif/Desktop/All/IE_Third_Year_2/RS/Project_All/Tourism-Recommendation-System/lib/models/../datasets/Flights.py:13: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['availability'] = grouped_avl['availability'].apply(lambda x: x.fillna(x.dropna().iloc[0]) if x.isnull().values.any() else x)

In [3]:
mylist = list(set(df_flight['flyFrom']))
mylist

NameError: name 'df_flight' is not defined

In [4]:
from main import main
Reco_1, Reco_2, Reco_3,UserId , City, Category, Price_flight,Price_Air,Beds_air,People_air,Reviews_air, Category_place,Time_place, time, pool_df, user_df = main(0,'Olbia')

Flights Reco....
Airbnb Reco....
Places Reco....

:

In [8]:
user_df = pd.read_csv('../datasets/data_files/user_df.csv')

user_df

,PriceLvl_1,PriceLvl_2,PriceLvl_3,PriceLvl_4,PriceLvl_5,PriceLvl_6,PriceLvl_7,PriceLvl_8,PriceLvl_9,PriceLvl_10,...,Santander,Santiago de Compostela,Seville,Tenerife,Valencia,Valladolid,Valverde,Vigo,Vitoria-Gasteiz,Zaragoza
0,0,0,-1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
pool_df

,inptCity,inptTime,inptCat,inptPrice,PriceLvl_1,PriceLvl_2,PriceLvl_3,PriceLvl_4,PriceLvl_5,PriceLvl_6,...,place_cultural,place_nature,place_beach,place_historical,inptPriceAir,inptBedsAir,inptPeopleAir,inptReviewsAir,inptPlaceCat,inptPlaceTime
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,Málaga,2023-02-28 16:30:00,Beach,240,0,0,0,0,0,0,...,0,0,0,0,43.0,1.0,1.0,775.0,Beach,Afternoon
2,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,1,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Cultural,Morning
3,Málaga,2023-02-28 16:30:00,Beach,240,0,0,2,0,0,0,...,0,0,0,0,43.0,1.0,1.0,775.0,Cultural,Afternoon
4,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,3,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Adventurous,Morning
5,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,1,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Cultural,Morning
6,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,0,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Cultural,Morning
7,Barcelona,2023-02-28 20:00:00,Cultural,296,0,0,-1,0,0,0,...,0,0,0,0,117.0,2.0,2.0,1044.0,Cultural,Morning

In [14]:
from main import record
record(UserId , City, Category, Price_flight,Price_Air,Beds_air,People_air,Reviews_air, Category_place,Time_place, time, user_df, pool_df, 1)

In [4]:
import requests

response = requests.post("http://127.0.0.1:7865/run/predict", json={
  "data": [
    "1",
    "Olbia",
]}).json()

data = response["data"]

In [25]:
data

[[{'Recommendation 1': ['OLB',
    'BCN',
    296,
    'Olbia',
    'Barcelona',
    'Italy',
    625.46,
    73200,
    1677614400000,
    'Cultural',
    'vibrant city northeastern coast spain known stunning architecture including famous work antoni gaudí like sagrada familia park güell city also home gothic quarter medieval neighborhood narrow street historic building like cathedral barcelona visitor enjoy beach barceloneta lively atmosphere la ramblas popular pedestrian street lined shop restaurant street performer city also host major event like mobile world congress primavera sound music festival'],
   'Recommendation 2': [988917,
    'https://www.airbnb.com/rooms/988917',
    'Central apartment located next to Plaza España and Sants Station, well connected with metro lines and buses, quiet and safe neighborhood, close to supermarkets, shops and restaurants, fully equipped with private parking,wifi,air conditioning and heat<br /><br /><b>The space</b><br />Mi apartamento está ubicado en el distrito de el Ensanche de Barcelona, cerca del centro y al lado de la Plaza España y Estación de Sants, muy buena comunicación de metros y buses, supermercados, tiendas, etc.<br />El apartamento consiste de 70m en 2 dormitorios dobles, completamente equipados con aire acondicionado, calefacción,armarios, espejos, ropa de cama y toallas.<br />Un salón con un sofá cama, tv, wifi, una mesa de comedor con 4 sillas, aire acondicionado, calefacción y terraza balcón.<br />La terraza balcón está es la entrada del comedor y de uno de los dormitorios, cuenta con una mesa de madera  para desayuno, toldo para privacidad y luz, muchas plantas y cactus.<br />Lavabo completamente equipad',
    't',
    "la Nova Esquerra de l'Eixample",
    41.38078,
    2.1458,
    'Entire rental unit',
    'Entire home/apt',
    4,
    '1 bath',
    2.0,
    '["Coffee maker", "Oven", "Free parking on premises", "Smoke alarm", "Fire extinguisher", "Washer", "Microwave", "Hot water", "Room-darkening shades", "Carbon monoxide alarm", "Shampoo", "Air conditioning", "Iron", "Hair dryer", "Crib", "Wifi", "Cooking basics", "Kitchen", "Private patio or balcony", "Extra pillows and blankets", "Pack \\u2019n play/Travel crib", "Host greets you", "Essentials", "Hangers", "Elevator", "Dishes and silverware", "Bed linens", "Dedicated workspace", "Refrigerator", "Heating", "TV", "Backyard", "First aid kit", "Pets allowed"]',
    117.0,
    1,
    1125,
    1.0,
    1.0,
    't',
    1044,
    't',
    'Barcelona',
    'Très agréable séjour chez David. Propreté, accès facile, propriétaire proactif. Super lovely appartement ! Well located, I already recommended to my friend. El piso esta muy bien, en una zona tranquila, con transporte público a mano y estuvimos muy a gusto.<br/>Esta muy limpio y bien equipado y David es una persona muy atenta.<br/>Apartamento 100% recomendable. Un logement calme et bien pratique pour visiter Barcelone<br/>David s’est montré très accueuillant Lisez les commentaires, il n y a rien à ajouter c est juste parfait pour une visite facile de Barcelone et rentrer le soir dans un lieu accueillant ,calme et douillet . La place de parking incluse et d un accès facile est un plus. David est d une extrême gentillesse et très réactif au moindre souci.  À conseiller ++++',
    'Central apartment located next to Plaza España and Sants Station, well connected with metro lines and buses, quiet and safe neighborhood, close to supermarkets, shops and restaurants, fully equipped with private parking,wifi,air conditioning and heat<br /><br /><b>The space</b><br />Mi apartamento está ubicado en el distrito de el Ensanche de Barcelona, cerca del centro y al lado de la Plaza España y Estación de Sants, muy buena comunicación de metros y buses, supermercados, tiendas, etc.<br />El apartamento consiste de 70m en 2 dormitorios dobles, completamente equipados con aire acondicionado, calefacción,armarios, espejos, ropa de cama y toallas.<br />Un salón con un sofá cama, tv, wifi, una mesa de comedor con 4 sillas, aire acondicionado, calefacción y terraza balcón.<br />La terraza balcón está es la entrada del comedor y de uno de los dormitorios, cuenta con una mesa de madera  para desayuno, toldo para privacidad y luz, muchas plantas y cactus.<br />Lavabo completamente equipadAcogedor Apto Confortable ,Bien Ubicado y Parking["Coffee maker", "Oven", "Free parking on premises", "Smoke alarm", "Fire extinguisher", "Washer", "Microwave", "Hot water", "Room-darkening shades", "Carbon monoxide alarm", "Shampoo", "Air conditioning", "Iron", "Hair dryer", "Crib", "Wifi", "Cooking basics", "Kitchen", "Private patio or balcony", "Extra pillows and blankets", "Pack \\u2019n play/Travel crib", "Host greets you", "Essentials", "Hangers", "Elevator", "Dishes and silverware", "Bed linens", "Dedicated workspace", "Refrigerator", "Heating", "TV", "Backyard", "First aid kit", "Pets allowed"]',
    2.0,
    0.0,
    0.0,
    0.0,
    0.0,
    0.2222222222,
    0.1111111111,
    0.2222222222,
    0.0,
    0.1111111111,
    0.0,
    0.2222222222],
   'Recommendation 3': [{'index': 56,
     'place_id': 5757,
     'place': 'Tibidabo Amusement Park',
     'city': 'Barcelona',
     'text': "Tibidabo Amusement Park is a vintage amusement park located on the top of Tibidabo mountain. It is known for its nostalgic charm, with its vintage rides, colorful attractions, and panoramic views of the city. Visitors can enjoy a variety of rides, including a Ferris wheel, a roller coaster, and a carousel, as well as visit the park's museum of automata and the Tibidabo Skywalk, a suspended walk way offering breathtaking views of Barcelona.",
     'category': 'Adventurous',
     'time_of_day': 'Morning'}],
   'UserId': 1,
   'City': 'Barcelona',
   'Category': 'Cultural',
   'Price_flight': 296.0,
   'Price_Air': 117.0,
   'Beds_air': 2,
   'People_air': 2,
   'Reviews_air': 1044.0,
   'Category_place': 'Adventurous',
   'Time_place': 'Morning',
   'time': '2023-02-28 20:00:00'}]]

In [17]:
import pandas as pd
user_df = pd.read_csv('../datasets/data_files/user_df.csv')
pool_df = pd.read_csv('../datasets/data_files/pool_df.csv')
UserId =data[0][0]['UserId']
City = data[0][0]['City']
Category = data[0][0]['Category']
Price_flight = data[0][0]['Price_flight']
Price_Air = data[0][0]['Price_Air']
Beds_air = data[0][0]['Beds_air']
People_air = data[0][0]['People_air']
Reviews_air = data[0][0]['Reviews_air']
Category_place = data[0][0]['Category_place']
Time_place = data[0][0]['Time_place']
time = data[0][0]['time']

In [20]:
Time_place

'Morning'

In [34]:
import requests

response = requests.post("http://127.0.0.1:7875/run/predict", json={
  "data": [
    UserId ,
     City,
      Category, 
      Price_flight,
      Price_Air,
      Beds_air,
      People_air,
      Reviews_air,
       Category_place,
       Time_place, 
       time,
          1
]}).json()

data = response["data"]

In [35]:
data

['Done..']