In [1]:
import sys
# Add a path to sys.path
sys.path.append('../datasets')

In [2]:
#from flights import  flights_reco
from userdata import users
from data_structure import data_strcture
from Places_reco import Places_reco
from Ranges import Ranges
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

c:\Users\rawbe\Tourist-Recommendation-System-Places\lib\models\../datasets\Flights.py:12: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['bags_price'] = grouped_bag['bags_price'].apply(lambda x: x.fillna(x.dropna().iloc[0]) if x.isnull().values.any() else x)
c:\Users\rawbe\Tourist-Recommendation-System-Places\lib\models\../datasets\Flights.py:13: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  df['availability'] = grouped_avl['availability'].apply(lambda x: x.fillna(x.dropna().iloc[0]) if x.isnull().values.any() else x)

In [3]:
_, user_df, pool_df = data_strcture()
user_df

,PriceLvl_1,PriceLvl_2,PriceLvl_3,PriceLvl_4,PriceLvl_5,PriceLvl_6,PriceLvl_7,PriceLvl_8,PriceLvl_9,PriceLvl_10,...,Santander,Santiago de Compostela,Seville,Tenerife,Valencia,Valladolid,Valverde,Vigo,Vitoria-Gasteiz,Zaragoza
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
#titles,indices, cosine_sim, df = model_computations()
places_titles = pd.read_csv('../datasets/data_files/Titles_Places.csv')
places_indices = pd.read_csv('../datasets/data_files/Indices_Places.csv')
places_cosine_sim = np.load('../datasets/data_files/Cosine_Similarity_Places.npy')
places_df = pd.read_csv('../datasets/data_files/places_activities_spain_final.csv')

In [19]:
def place_recommendation(user_df, user_id, prev_place_id, filtered_df):
    time_max_col = user_df.filter(['place_morning', 'place_afternoon', 'place_night']).idxmax(axis=1)
    category_max_col = user_df.filter(['place_historical', 'place_nature', 'place_cultural', 'place_adventurous', 'place_beach']).idxmax(axis=1)

    preferred_time = str(time_max_col[user_id])
    preferred_category = str(category_max_col[user_id])

    df_filtered = filtered_df[(filtered_df['category'] == preferred_category) & (filtered_df['time_of_day'] == preferred_time)]

    if prev_place_id is not None:
        df_filtered = df_filtered[df_filtered['place_id'] != prev_place_id]

    if not df_filtered.empty:
        recommended_place = df_filtered.sample()
        return recommended_place
    else:
        # If no place matches the preferred time and category, recommend a random place in the city
        df_city = filtered_df
        if prev_place_id is not None:
            df_city = df_city[df_city['place_id'] != prev_place_id]
        recommended_place = df_city.sample()
        return recommended_place

In [10]:
x = Places_reco('Malaga', places_cosine_sim, places_df, 712)
x

,place_id,place,city,text,category,time_of_day
16,4247,Museo de Málaga,Malaga,Museo de Málaga is a museum located in a histo...,Cultural,Afternoon
0,7384,Alcazaba de Malaga,Malaga,Alcazaba de Malaga is a historic fortress dati...,Historical,Morning
13,165,Museo del Vidrio y Cristal de Malaga,Malaga,Museo del Vidrio y Cristal de Malaga is a uniq...,Cultural,Afternoon
5,252,Teatro Romano,Malaga,Teatro Romano is a well-preserved Roman theatr...,Historical,Morning
8,7584,Jardín Botánico Histórico La Concepción,Malaga,Jardín Botánico Histórico La Concepción is a h...,Nature,Morning
1,1843,Museo Picasso Malaga,Malaga,Museo Picasso Malaga is a museum dedicated to ...,Cultural,Morning
12,4062,CAC Malaga,Malaga,CAC Malaga is a contemporary art center locate...,Cultural,Afternoon
4,2467,Castillo de Gibralfaro,Malaga,Castillo de Gibralfaro is an ancient castle lo...,Historical,Morning
18,463,Calle Larios,Malaga,Calle Larios is a famous shopping street locat...,Cultural,Afternoon
7,9332,Museo Carmen Thyssen,Malaga,Museo Carmen Thyssen is an art museum located ...,Cultural,Morning
14,9065,Parque de Malaga,Malaga,Parque de Malaga is a green oasis located in t...,Nature,Afternoon
11,9743,Plaza de la Merced,Malaga,Plaza de la Merced is a historical square loca...,Cultural,Afternoon
3,2787,Playa de la Malagueta,Malaga,Playa de la Malagueta is a popular city beach ...,Beach,Morning
10,3490,La Farola,Malaga,La Farola is a historic lighthouse located at ...,Nature,Afternoon
6,7484,Mercado Central de Atarazanas,Malaga,Mercado Central de Atarazanas is a bustling ce...,Cultural,Morning
17,1210,Plaza de la Constitución,Malaga,Plaza de la Constitución is the main square of...,Cultural,Afternoon
15,1764,Palacio de Ferias y Congresos,Malaga,Palacio de Ferias y Congresos is a modern conv...,Cultural,Afternoon
9,9925,Muelle Uno,Malaga,Muelle Uno is a modern marina and shopping com...,Beach,Afternoon

In [23]:
user_id = 1
filtered_df = x
recommended_place = place_recommendation(user_df, user_id, 712, filtered_df)
print(recommended_place)

NameError: name 'x' is not defined

In [4]:
pool_df, updated_user_df = users(1 ,0, user_df, pool_df, 'Madrid', 'Historical', 200,200,2,1,100,'place_adventurous','place_night', '2023-04-15 14:30:45', int(1))
#users(userid ,df, user_df, pool_df, city, cat, price,price_airbnb,beds_airbnb,people_airbnb,reviews_airbnb,place_category, place_time, time, indicator):

In [4]:
from model import clf_places
gg,c,t = clf_places('Madrid',1,user_df,previous = 712)

In [9]:
user_df['UserId']

0        0
1        1
2        2
3        3
4        4
      ...
995    995
996    996
997    997
998    998
999    999
Name: UserId, Length: 1000, dtype: int64

In [12]:
gg.reset_index()['time_of_day'][0]

'Night'

In [ ]:
def clf_places(city,UserId,user_df,previous = 712):